<?xml version="1.0" encoding="utf-8" ?>
<!--log4net 1.2.15.0-->
<!-- using App.Config-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

<log4net>
  <appender name="j2kDebugLog" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <!--DEBUG,INFO,WARN,ERROR,FATAL-->
      <levelMin value="DEBUG" />
      <levelMax value="DEBUG" />
    </filter>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <encoding value="utf-8" />
    <file value="./Log/Debug/"/>
    <staticLogFileName value="false" />
    <datePattern value="'Debug-'yy-MM-dd'.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maximumFileSize value="10MB" />
    <maxSizeRollBackups value="128" />

    <layout type="log4net.Layout.PatternLayout">
      <!--<conversionPattern value="%level %thread %logger - %message%newline" />-->
      <conversionpattern value="%level|%date{yy-MM-dd|HH:mm:ss|ffff}|%message%newline"/>
    </layout>
  </appender>

  <appender name="j2kInfoLog" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="INFO" />
    </filter>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <encoding value="utf-8" />
    <file value="./Log/Info/"/>
    <staticLogFileName value="false" />
    <datePattern value="'Info-'yy-MM-dd'.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maximumFileSize value="10MB" />
    <maxSizeRollBackups value="128" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionpattern value="%level|%date{yy-MM-dd|HH:mm:ss|ffff}|%message%newline"/>
    </layout>
  </appender>

  <appender name="j2kAlarmLog" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="ERROR" />
    </filter>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <encoding value="utf-8" />
    <file value="./Log/Alarm/"/>
    <staticLogFileName value="false" />
    <datePattern value="'Alarm-'yy-MM-dd'.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maximumFileSize value="10MB" />
    <maxSizeRollBackups value="128" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionpattern value="ALARM|%date{yy-MM-dd|HH:mm:ss|ffff}|%message%newline"/>
    </layout>
  </appender>

  <appender name="j2kExceptionLog" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="FATAL" />
      <levelMax value="FATAL" />
    </filter>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <encoding value="utf-8" />
    <file value="./Log/"/>
    <staticLogFileName value="false" />
    <datePattern value="'Exception-'yy-MM-dd'.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maximumFileSize value="10MB" />
    <maxSizeRollBackups value="128" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionpattern value="%date{yy-MM-dd|HH:mm:ss|ffff}|%message%newline"/>
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="j2kDebugLog" />
    <appender-ref ref="j2kInfoLog" />
    <appender-ref ref="j2kAlarmLog" />
    <appender-ref ref="j2kExceptionLog" />
  </root>
</log4net>

<!-- using App.Config-->
</configuration>

